*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family:sans-serif;
    font-size:13px;
    background-color: rgb(51, 153, 255);
    min-height:100vh;
    overflow:visible;
  }
  .header{
    position:relative;
    margin: 200px 0px 0px 0px;
    left:40%;
    font-size:15px;
    color:#e6e6e6;
  }
  .container{
    background-color: white;
    width:373px;
    height:auto;
    position:absolute;
    margin: 8px 0px 0px 0px;
    border-radius:10px;
  }
  .sub{
    font-size:20px;
    color: rgb(51, 153, 255);
    padding: 25px 0px 30px 30px;
  }
  .form-1{
    color:black;
    padding: 0px 0px 15px 35px;
  }
  .form-2{
    color:black;
    padding: 0px 0px 20px 35px;
  }
  input{
    border-color:#1877f2;
    border-style: solid;
    padding:10px;
    border-width:2px;
    border-radius: 2px;
    width:90%;
  }
  input:hover{
    border-color:rgb(51, 153, 255);
    box-shadow: 2px 2px 10px 2px rgb(51, 153, 255);
  }
  button{
    cursor:pointer;
    padding:10px;
    width:90%;
    border:none;
    background-color:rgb(51, 153, 255);
    border-color:rgb(51, 153, 255);
    color:white;
    border-radius: 10px;
    text-align: center;
  }
  .pass{
    color:black;
    margin:0px 0px 15px 35px;
    padding: 0px 0px 10px 0px;
    margin-left: 35%;
    
  }
  .sign-in{
     padding: 10px 0px 70px 35px;
  }
  button:hover{
    opacity: .8;
  }